<!DOCTYPE html>
<html>
	<head>
    <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/Services">Services</a></li>
        		<li><a href="/Contact">Contact</a></li>
    		</ul>
		</nav>
		
    <div class="container">
      
        {{ content }}
    		
        <div class="blurb">
        		<h1>This site is about cloud Services!</h1>
				<p></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto: ">email</a></li>
			</ul>
		</footer>
	</body>
</html>
